@{
    ViewBag.Title = "Почетна";
}
@Styles.Render("~/Content/css")

<div class="jumbotron">
    <h1>РадиоFreedom</h1><h2>[најдоброто интернет радио]</h2><br />

    <p class="lead">Вашиот сон да слушате музика додека читате новости од разни теми конечно е остварен. На порталот интернет радио Freedom отсега ќе можете да го правите тоа кога сакате и од каде сакате!</p>
    <p><a href="/Home/Contact" class="btn btn-primary btn-lg">Прочитај повеќе &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <center>
            <h2>Слушај Радио</h2>
            <a href="/Home/ListenRadio/">
                <img src="~/Content/images/radio.png" style="width:85%" />
            </a>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <h2>Категории</h2>
            <a href="/Categories/">
                <img src="~/Content/images/category.png" style="width:85%" />
                </a>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <h2>Маркетинг</h2>
            <a href="/Home/Marketing/">
                <img src="~/Content/images/marceting.png" style="width:85%" />
            </a>
        </center>
    </div>
</div>