@{
    ViewBag.Title = "СлушајРадио";
}
<br />
<br />
<h2>СлушајРадио</h2>

<center>
    <table>
        <tr>
            <td><img src="~/Content/images/logo.png" style="border-radius:5%" /></td>
            <td>
                <center>

                    <img style="width:80%;border-radius: 10%;padding: 5%;float: right;" src="~/Content/images/onAir.jpg" style="border-radius:5%" />
                    <audio autoplay="autoplay" class="audio-player" style="margin-right: 8%;" src="http://www.partyviberadio.com:8000/;listen.pls?sid=1" controls="controls">
                        autoplay="true" controls="true" volume="1.0">
                    </audio>
                </center>
            </td>
        </tr>
    </table>
</center>
