@{
    ViewBag.Title = "Маркетинг";
}
<br />
<br />
<h2>Маркетинг</h2>
<h3>Имате потреба од реклама?<br /> Сакате да го вложите вашиот маркетинг буџет на вистинско место? 
    <br />ИнтернетРадиоFreedom е вистинското решение за вас! 
    <br />Погледнете ги нашите маркетинг услови и цени</h3>
<img src="~/Content/images/advertismen1t.png" style="width:80%" />
<h4>За повеќе информации контактирајте не преку нашата емаил адреса</h4>

